* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "segoe ui";
  background-color: bisque;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #010101;
  position: relative;
  z-index: 2000;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
  text-transform: uppercase;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.login_section {
  height: calc(100vh + 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../pictures/signlibrary.jpg);
  background-size: cover;
  filter: grayscale(100%);
}
.login_section .container h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  text-shadow: 10px 10px 10px rgb(255, 255, 255);
  font-size: 40px;
}
.login_section .container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login_section .container form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  font-weight: bold;
}
.login_section .container form label input {
  width: 300px;
  padding: 10px;
  outline: transparent;
  border-bottom: black 2px solid;
  border-radius: 10px;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  background-color: transparent;
}

.login_section .container form label input::placeholder {
  color: gray;
}
.login_section .container form .sign_buttons {
  margin: 10px 0;
}
.login_section .container form .sign_buttons input {
  padding: 10px;
  border: 2px transparent solid;
  background-color: #f6f6f6;
  border-radius: 5px;
}
.login_section .container form .sign_buttons input:hover {
  padding: 10px;
  border: 2px transparent solid;
  background-color: #020202;
  color: #f6f6f6;
  border-radius: 5px;
}

.sign_section {
  height: calc(100vh + 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../pictures/signlibrary.jpg);
  background-size: cover;

  filter: grayscale(100%);
}
.sign_section .container h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  text-shadow: 10px 10px 10px rgb(255, 255, 255);
  font-size: 40px;
}
.sign_section .container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign_section .container form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  font-weight: bold;
}
.sign_section .container form label input {
  width: 300px;
  padding: 10px;
  outline: transparent;
  border-bottom: black 2px solid;
  border-radius: 10px;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  background-color: transparent;
}

.sign_section .container form label input::placeholder {
  color: gray;
}
.sign_section .container form .sign_buttons {
  margin: 10px 0;
}
.sign_section .container form .sign_buttons input {
  padding: 10px;
  border: 2px transparent solid;
  background-color: #f6f6f6;
  border-radius: 5px;
}
.sign_section .container form .sign_buttons input:hover {
  padding: 10px;
  border: 2px transparent solid;
  background-color: #020202;
  color: #f6f6f6;
  border-radius: 5px;
}
